<!DOCTYPE html>
<html>
<head>
    <style>
        h1 { font-size: 6; }
        h2 { font-size: 4; }
    </style>
</head>
<body>
    <h1>FlixPatrol 넷플릭스 TV Show 일자별 글로벌 Top10 순위 검색기</h1>
    <h2>2021년부터 현재까지 검색기간 설정 가능</h2>
    <form method="POST">
        시작일을 입력하세요 (예: 2023-07-10): <input type="text" name="start_date" required><br>
        종료일을 입력하세요 (예: 2023-07-16): <input type="text" name="end_date" required><br>
        <input type="submit" value="조회">
    </form>
</body>
</html>