<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Netflix Rankings</title>
  </head>
  <body>
    <h1>Netflix Rankings</h1>
    <form method="post" action="/">
        <div>
            <label for="start_date">Start date:</label>
            <input type="date" id="start_date" name="start_date">
        </div>
        <div>
            <label for="end_date">End date:</label>
            <input type="date" id="end_date" name="end_date">
        </div>
        <button type="submit">Get Data</button>
    </form>
    {% if data %}
    <h2>Results:</h2>
    <div>{{ data|safe }}</div>
    {% endif %}
  </body>
</html>